body {
  background-color: antiquewhite;
  font-size: 18px;
}

body > .container {
  padding: 70px 15px 0;
}

.navbar-default {
  background-color: #e3efee;
  margin-bottom: 50px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #3c3c3c;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #b8d4d1;
}

.img-circle {
  width: 200px;
  height: 200px;
  margin: auto;
}

.hide {
  display: none;
}

.cats .row {
  margin-bottom: 40px;
}

#cats-page {
  background-color: #fdffde;
}

#me-page {
  background-color: #fad7e4;
}

h1, h2, h3 {
  font-family: 'Germania One', cursive;
}

h1 {
  font-size: 65px;
}

h1.underlined {
  text-decoration: underline;
}

p {
  font-family: 'Dosis', sans-serif;
}
